@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
    
    font-family: 'Roboto Mono', monospace;
    /* display:flex; */
    

}
main{
    display:flex;
    /* margin:20px; */
}

h1{
    font-size:3em;
    margin:auto;
    margin-top:20%;
    justify-content: space-around;
    color:white;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

.about{
         margin:50px;

    
}
hr{
    border:1px solid;
}

  nav{
      display:flex;
      justify-content: space-between;
      border-bottom:1px solid;
  }

  #navbarNav{
    display:flex;
    justify-content: flex-end;

    /* align-self: flex-end; */
  }

  p{
      /* margin:100px; */
      /* width:30%; */
  }
  section{
      /* margin-top:100px; */
      display:flex;
      flex-direction: column;
      align-items: center;
      /* margin-left:20px; */
      border:1px solid;
      /* width:25%; */
  }

  img{
      width:100%;
  }

  button{
      background-color:white;
      border:1px solid;
      margin:auto;
      margin-bottom:20px;
  }

  .tasks{
      border-right:1px solid;
      padding:25px;
  }
  

  .title{
   
    margin:auto;
    margin-top:20%;
    justify-content: space-around;
    color:white;
    text-decoration: none;
  }


 .title:hover{
      transform:scale(1.2);
      text-shadow: 5px 5px black;
  }

button:hover{
    transform:scale(1.2);
    box-shadow: 5px 5px black;
  }

  .submit{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-top:20px;
  }

.container{
      margin:0;
      
    padding: 0px;
  }

  .description{
      margin:auto;
      justify-self: space-around;
      margin-bottom: 20px;
  }

  .entryPic{
      width:350px;
  }

  .entryPicHorizontal{
    width:700px;
}

.notes{
      display:flex;
  }
